<%- include('../partials/head')%>
    <title>Schedules</title>
</head>
<body>
    <%- include('../partials/navbar')%>
    <main>
    <!--HEADER GOES HERE-->
    <div class="container">
    <h1 style = "color: rgb(221, 127, 221) "> Schedules </h1>
    <% for (let i = 0; i < schedules.length; i++) {%>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= schedules[i].user_id %><%= schedules[i].firstname %></li>
          <li class="list-group-item"><%= schedules[i].day %></li>
          <li class="list-group-item"><%= schedules[i].start_at %></li>
          <li class="list-group-item"><%= schedules[i].end_at %></li>
        </ul>
      </div>
      <a href="/schedules/<%= schedules[i].user_id %>">See schedules of user <%= schedules[i].user_id %></a>
      <% } %>



</main>
    <!--FOOTER GOES HERE-->
<%- include('../partials/footer')%>